.line {
    display:block;
}

.slot {
    background-color:#f4f4f4;
    background-size:40px 38px;
    border:1px solid #bbb;
    cursor:pointer;
    display:inline-block;
    height:38px;
    margin:0 -2px;
    width:40px;
}

.bigslot {
    background-color:#f4f4f4;
    background-size:55px 53px;
    border:1px solid #bbb;
    cursor:pointer;
    display:inline-block;
    height:53px;
    margin:0 -3px;
    width:55px;
}

.filler {
    display:inline-block;
    font-size:17px;
    text-align:center;
    padding:3px 0;
    width:190px;
}
