.line {
    background-color:#eaeaea;
    border:1px solid #aaa;
    display:block;
    font-size:14px;
    margin:4px;
    text-align:center;
}

.potionSlot {
    background-color:#eaeaea;
    border:1px solid #aaa;
    display:block;
    margin:0 auto;
    width:40px;
    height:40px;
}

.biasMap {
    padding:6px 0 0;
}

.reagentTitle {
    background-color:#eaeaea;
    border:1px solid #aaa;
}

.reagentBlock {
    margin-bottom:12px;
}

.slot {
    background-size:20px 20px;
    border:1px solid #aaa;
    cursor:pointer;
    display:inline-block;
    height:20px;
    width:20px;
}

.slotText {
    margin-left:-2px;
    max-width:120px;
    padding-top:2px;
    text-align:left;
    width:120px;
}
